## Libraries

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import aux_functions as f

## 0. Import data

![Descripción de la imagen](../Datasets/diagrama_entidad_relacion.png)

In [18]:
df_customer = pd.read_csv("../Datasets/customers_1.txt")
df_employees = pd.read_csv("../Datasets/employees_1.txt")
df_inventory = pd.read_csv("../Datasets/inventory_transactions_1.txt")
df_order_details = pd.read_csv("../Datasets/order_details_1.txt")
df_orders = pd.read_csv("../Datasets/orders_1.txt")
df_payment_methods = pd.read_csv("../Datasets/payment_methods_1.txt")
df_payments = pd.read_csv("../Datasets/payments_1.txt")
df_products = pd.read_csv("../Datasets/products_1.txt")
df_purchase_orders = pd.read_csv("../Datasets/purchase_orders_1.txt")
df_shipping_methods = pd.read_csv("../Datasets/shipping_methods_1.txt")
df_suppliers = pd.read_csv("../Datasets/suppliers_1.txt")

## 1. Cleaning and review

### 1.1 Customers

Summary:
- There are 225 customer
- Origin: Russian Federation and Belarus. Specially, from 87 regions.
- These customers can be classified by: Price Category (there are 7; 1-7), Customer Class ('Large-Scale Wholesaler-1', 'Consumer', 'Retailer',
       'Small-Scale Wholesaler', 'Large-Scale Wholesaler-2', 'Branch',
       'HyPermarket'), Lead Source ('Referral by the Central Office', 'Other',
       'Advertisement in National Wholesale Magazine',
       'Sales Calls or Visits', 'Trade Shows',
       'Referral by Third Parties', nan, 'Organic Search',
       'Advertisement in Regional Wholesaler Magazine') and if they are continued or not

No se si eliminar los que tienen valores nulos en leadSource (son 4)

In [19]:
df_customer

,CustomerID,CustomerName,Region,Country,PriceCategory,CustomerClass,LeadSource,Discontinued
0,1,C1,Moscow,Russian Federation,1,Large-Scale Wholesaler-1,Referral by the Central Office,0
1,2,C2,Moscow,Russian Federation,1,Large-Scale Wholesaler-1,Referral by the Central Office,0
2,3,C3,Moscow,Russian Federation,1,Large-Scale Wholesaler-1,Referral by the Central Office,1
3,4,C4,Moscow,Russian Federation,4,Large-Scale Wholesaler-1,Referral by the Central Office,1
4,5,C5,Moscow,Russian Federation,1,Large-Scale Wholesaler-1,Referral by the Central Office,0
...,...,...,...,...,...,...,...,...
220,243,C221,Vologda,Russian Federation,4,Small-Scale Wholesaler,Advertisement in National Wholesale Magazine,0
221,244,C222,Yakutsk,Russian Federation,4,Small-Scale Wholesaler,Advertisement in National Wholesale Magazine,0
222,245,C223,Nizhny Novgorod,Russian Federation,5,Retailer,Sales Calls or Visits,0
223,246,C224,Kemerovo,Russian Federation,4,Small-Scale Wholesaler,Sales Calls or Visits,0
224,247,C225,Moscow,Russian Federation,4,Small-Scale Wholesaler,Sales Calls or Visits,0

In [55]:
f.analysis_data(df_customer, "customer")

AttributeError: module 'aux_functions' has no attribute 'analysis_data'

In [46]:
df_customer['Country'].unique()

array(['Russian Federation', 'Belarus'], dtype=object)

In [49]:
df_customer['Region'].nunique()

87

In [50]:
df_customer['PriceCategory'].unique()

array([1, 4, 5, 2, 7, 6, 3])

In [51]:
df_customer['CustomerClass'].unique()

array(['Large-Scale Wholesaler-1', 'Consumer', 'Retailer',
       'Small-Scale Wholesaler', 'Large-Scale Wholesaler-2', 'Branch',
       'HyPermarket'], dtype=object)

In [52]:
df_customer['LeadSource'].unique()

array(['Referral by the Central Office', 'Other',
       'Advertisement in National Wholesale Magazine',
       'Sales Calls or Visits', 'Trade Shows',
       'Referral by Third Parties', nan, 'Organic Search',
       'Advertisement in Regional Wholesaler Magazine'], dtype=object)

In [54]:
df_customer['Discontinued'].unique()

array([0, 1])

### 1.2 Employees

In [20]:
df_employees

    EmployeeID EmployeeName
0            1           E1
1            2           E2
2            3           E3
3            5           E4
4            6           E5
5            7           E6
6            8           E7
7            9           E8
8           10           E9
9           11          E10
10          12          E11
11          13          E12
12          14          E13
13          15          E14
14          16          E15